node_modules
**/node_modules
npm-debug.log
.git
.github
.gitignore
*.md
.env
.env.*
logs
dist
.next
**/.next
coverage
*.log
.DS_Store
*.pem
.vscode
.idea
build
apps/admin/node_modules
apps/worker/node_modules
