services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: wompi_subs
      POSTGRES_USER: wompi_subs
      POSTGRES_PASSWORD: wompi_subs
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

