databases:
  - name: wompi-subs-db
    databaseName: wompi_subs
    plan: starter

services:
  - type: web
    name: wompi-subs-api
    env: node
    plan: starter
    rootDir: apps/api
    buildCommand: npm ci && npm run build
    startCommand: npm run start:migrate
    healthCheckPath: /health
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: wompi-subs-db
          property: connectionString

  - type: web
    name: wompi-subs-admin
    env: node
    plan: starter
    rootDir: apps/admin
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    envVars:
      - key: NEXT_PUBLIC_API_BASE_URL
        sync: false
      - key: API_ADMIN_TOKEN
        sync: false
      - key: ADMIN_BASIC_USER
        sync: false
      - key: ADMIN_BASIC_PASS
        sync: false
